BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignTrailingComments:
  Kind: Never
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
ColumnLimit: 110
ContinuationIndentWidth: 2
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:        '^<GL/freeglut_ext\.h>'
    Priority:     2
    SortPriority: 3
  - Regex:        '^<GL/.*>'
    Priority:     2
    SortPriority: 2
  - Regex:        '^<.*>'
    Priority:     1
    SortPriority: 1
IncludeIsMainRegex: '$^'
IndentWidth: 2
InsertBraces: true
